body {
background: url(../images/lamp.jpg);
background-size: cover;
background-color: black; 
opacity: 80%;
background-repeat: no-repeat;
background-position: center;
font-family: 'Bungee', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Bungee Inline', cursive;
font-family: 'Raleway', sans-serif;
}

h1, p {
text-align: center;
}

h1 {
font-family: 'Bungee Inline', Cursive;
font-size: 65pt;
text-transform: uppercase;
padding-top: 250px;
margin: 40px 0 0 0;
}

p#slogan {
color: black;
font-family: 'Quicksand', sans-serif;
font-size: 36pt;
font-weight: bold;
font-variant: small-caps;
text-transform: lowercase;
text-decoration-line: overline;
margin: 40px 0 40px 0;
}

div {width: 90%; 
  margin: 0 auto 0 auto;
  text-align: center;
}

button.fixedwidthbutton {
    background-color: #81a0d1;
    border: none;
    color: black;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16pt;
    width:  250px;
    font-family:'Quicksand', sans-serif;
    margin: 2% 2% 2% 2%
}
