body {
   background: url(../images/homepagetiles.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   font-family: 'Bungee', cursive;
   font-family: 'Bungee Shade', cursive;
   font-family: 'Quicksand', sans-serif;
   font-family: 'Bungee Inline', cursive;
}

div.logo {
   margin: 1em auto;
   padding-bottom: 2em;
   text-align: center;
   width: 70%;
}

h1.title {
   font-family: 'Bungee Shade', sans-serif;
   font-size: 40pt; 
}