* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


body {
   font-family: 'Josefin Slab', sans-serif;
   background-color: gray;
   text-align: center;
   font-size: 16px;
   position: relative;
   }


#hero {
   background: url(.../images/whitedesk.jpg) no-repeat center center scroll;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 750px;
   padding-bottom: 20px 0;
}


header {
   padding: 0 200px;
}

h1, h2 {
   font-size: 2em;
   display: block;
   font-weight: bold;
   text-align: center
   padding-top: 15%;
}


h1 {
   font-size: 2em;
   letter-spacing: 1px;
   text-transform: uppercase;
}


h2 {
   font-size: 1.25em;
}


nav {
   margin: auto;
   text-align: center;
}

nav a:link{  
   font-family: 'Raleway', sans-serif;
   color:#fff;
   padding:0 32px;
   font-size: .8em;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 2px;
   -webkit-transition:color ease-in-out .5s;
   -moz-transition:color ease-in-out .5s;
   -o-transition:color ease-in-out .5s;
   transition:color ease-in-out .5s;
}

nav a:visited{
   color: #fff;
}

nav a:hover{
   color: #C400C4;
}

nav a:active{
   color: #C400C4;
}

section#logo, section#recentwork, section#about, section#getintouch {
   background-color: none;
   border: 1px solid black;
   padding: 10px 0;
   width: 100%;
}

#left, #middle, #right {
   padding: 1%;
   float: left;
   width: 33%;
   margin: 1%;
}


.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}


#getintouch {
   clear: both;
}


footer {
   background-color: none;
   border: 1px solid black;
   padding: 20px;
   width: 100%;
}


@media only screen and (max-width: 720px){}
#left, #middle, #right {
   width: 48%;
   height: 300px;
 
}

@media screen and (max-width:750px){
   nav{
      display: none;
   }

   nav a:link{
      display: block;
      padding:15px;
      margin:5px;
   }

   h1{
      margin:40px 0 0;
   }

   header{
      padding:0 2%;
   }

   @media screen and (max-width: 500px){
     #left, #middle, #right {
   width: 80%;
   height: 300px; 
   }

   }