body {
      font-family: 'Bungee', cursive;
      font-family: 'Bungee Shade', cursive;
      font-family: 'Quicksand', sans-serif;
      font-family: 'Bungee Inline', cursive;
      text-align: center;
   }

div.wrapper {
   margin: 0 auto;
}

header {
      background: url(../images/whitedesk.jpg);
      background-color: #FFED74;
      border: 1px solid black;
      padding: 20px;
   }


nav {
   background-color: #E8C66A;
   border: 1px solid black;
   padding: 20px;
}


section#logo, section#recentwork, section#about, section#getintouch {
   background-color: #FFB2E8;
   border: 1px solid black;
   padding: 20px;
}


footer {
   background-color: #FF957E;
   border: 1px solid black;
   padding: 20px;
}