body {
background: url(../images/homepageimage.jpg);
background-size: cover;
background-color: black; 
background-repeat: no-repeat;
font-family: 'Bungee', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Raleway Dots', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Quicksand', sans-serif;
}

h1, p {
text-align: center;
}

h1 {
color: black;
font-family: 'Bungee', Cursive;
font-size: 70px;
text-transform: uppercase;
padding-top: 200px;
}

p#slogan {
color: black;
font-family: 'Quicksand', sans-serif;
font-size: 3em;
font-weight: bolder;
font-variant: small-caps;
text-transform: lowercase;
text-decoration-line: overline;
}

p {
    text-align: center;
    font-weight: bolder;
    color: black;
    padding-right: 400px;
    padding-left: 400px;
    font-size: 1em;
}

li {
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: 1em;
}


div {width: 90%; 
  margin: 0 auto 0 auto;
  text-align: center;
}

button.fixedwidthbutton {
    background-color: #81a0d1;
    border: none;
    color: #474c51;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    width:  200px;
    font-family:'Raleway', sans-serif;
}