body {
background: url(../images/homepageimage.jpg);
background-size: cover;
background-color: black; 
opacity: 80%;
background-repeat: no-repeat;
font-family: 'Bungee', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Bungee Inline', cursive;
}

h1, p {
text-align: center;
}

h1 {
color: black;
font-family: 'Bungee Inline', Cursive;
font-size: 70px;
text-transform: uppercase;
padding-top: 200px;
margin: 40px 0 0 0;
}

p#slogan {
color: black;
font-family: 'Quicksand', sans-serif;
font-size: 5em;
font-weight: bolder;
font-variant: small-caps;
text-transform: lowercase;
text-decoration-line: overline;
margin: 0 0 40px 0;
}

p {
    text-align: center;
    font-weight: bold;
    color: black;
    padding-right: 400px;
    padding-left: 400px;
    font-size: 1.5em;
}

ul {
    list-style-type: none;
}

li {
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: 1.5em;
}


div {width: 90%; 
  margin: 0 auto 0 auto;
  text-align: center;
}

button.fixedwidthbutton {
    background-color: #81a0d1;
    border: none;
    color: black;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    width:  250px;
    font-family:'Quicksand', sans-serif;
}